@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap');

*{
  padding: 0;
	margin: 0;
	box-sizing: border-box;
  font-family: 'Open Sans';
  list-style: none;
	text-decoration: none;
	scroll-behavior: smooth;
}


header{
    height: 100vh;
    width: 300px;
    padding: 15px 30px;
    background: #000000;
    overflow-y: auto;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    transition: 0.4s;
    z-index: 99;
}

header .profil{
    text-align: center;
    margin: 10px 0;
}

header .profil img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    border: 8px solid #58D68D;
}

header .profil h1{
    color: #fff;
}

header .profil .socil-icon a{
    display: inline-block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    line-height: 37px;
    color: #fff;
    background: #616A6B;
    text-decoration: none;
    font-size: 18px;
    margin: 1.5px;
    transition: 0.4s;
}
.profil .socil-icon a:hover{
    background: #58D68D;
}

/*===navebar*/
header nav{
    margin-top: 10px;
}
header nav ul li{
    list-style: none;
}

header nav ul li a{
    display: inline-block;
    text-decoration: none;
    padding: 7px 10px;
    margin: 7px 0;
    color: #fff;
    font-weight: 400;
    font: 15px;
    letter-spacing: 0.6px;
}

header nav ul li a i{
    margin-right: 10px;
    font-size: 20px;
    transition: 0.4s;
}

header nav ul li a:hover i{
    color: #58D68D;
}

#Menubtn{
    position: fixed;
    top: 25px;
    right: 25px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #fff;
    cursor: pointer;
    background-color: #58D68D;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 20%);
    display: none;
    z-index: 999;
}

/*mobileview*/
@media only screen and (max-width:1050px){
    header{
        left: -300px;
    }
    #Menubtn{
        display: block;
    }
    main{
        margin-left: 0;
    }
}

.mobile-nav-active header{
    left: 0;
}

main{
    margin-left: 300px;
    transition: 0.4s;
}

/*mobileview*/
@media only screen and (max-width:1050px){
    main{
        margin-left: 0;
    }
}

/* Home section styles */
#home {
    width: 100%;
    background-image: url("img/home-bg.JPG");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    padding: 70px;
    flex-direction: column;
    justify-content: center;
    position: relative;
  }

  #home::after{
   content: '';
    width: 100%;
    height: 100%;
    background-color: rgb(0 0 0 / 54%);
    position: absolute;
    left: 0;
    top: 0;
  }
  
  #home .row-text{
    z-index: 1;
  }
  #home h1 {
    color: #fff;
    font-size: 3rem;
    font-size: 70px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: -1px;
    line-height: 70px;
  }



  #home p{
    color: #fff;
    font-size: 55px;
    font-weight: 400;
    line-height: 70px;
  }

  .typed-text{
    color: #58D68D;
    border-bottom: 4px solid #58D68D;
  }


  /*mobileview*/
@media only screen and (max-width:1050px){
    #home{
        padding: 30px;
    }
    #home h1 {
        font-size: 35px;
        letter-spacing: 0;
        line-height: 50px;
      }

      .typed-text{
        font-size: 30px;
        color: #58D68D;
        padding: 20px;
      }

      @media only screen and (max-width:705px){
        #home{
          background-image: url("img/IMG_6321.jpg") !important;
          background-size: cover;
          background-position: inherit;
        }
      }
}

@media only screen and (max-width:865px){
  .about-detels{
    display: block !important;
  }
  .about-img img{
    max-width: 100% !important;
    width: auto !important;
  }
  @media only screen and (max-width:765px){
    .contact-text{
      display: block !important;
    }
    .contact-form{
      margin-top: 30px;
    }
  }
}


#about{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 20px 5%;
  background-color: #ffffff;
}

.about-section-text{
  padding: 10px;
}

.about-section-text h2{
  font-size: 45px;
  color: #58D68D;
  font-weight: 700;
  position: relative;
}

.about-section-text h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 80px;
  background-color: #58D68D;
}

.about-section-text p{
  color: #616A6B;
  font-weight: 500;
  line-height: 35px;
  font-size: 17px;
}

.about-detels{
  display: flex;
}

.about-img img{
  max-width: 100%;
  width: 350px;
  border-radius: 5px;
  height: auto;
}

.my-detels{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.about-socile-text{
  padding: 20px;
}

.about-socile-text h2{
  color: #ffffff;
  font-weight: 700;
}

.about-socile-text p{
  color: #616A6B;
  font-size: 17px;
  line-height: 35px;
}

.my-detels ul li{
  margin: 20px;
  color: #000000;
  font-size: 14px;
  font-weight: 600;
}

.my-detels ul li i{
  color: #58D68D;
}

.skill-item{
  padding: 20px;
}

.skills-title h2{
  color: #58D68D;
  font-size: 45px;
  position: relative;
}


.skills-title h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 80px;
  background-color: #58D68D;
}


.skills-title p{
  color: #000000;
  margin-top: 10px;
  line-height: 35px;
  padding-bottom: 20px;
}


.skill-name {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.skill-level {
  width: 200px;
  height: 10px;
  background-color: #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.skill-level-bar {
  height: 100%;
  background-color: #58D68D;
}


.skill-option ul {
  list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.skill-option ul li {
  margin: 0 20px 40px;
}



#projects{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 20px;
  background-color: #616A6B;
}

.projects-title{
  margin-top: 10px;
  padding-bottom: 20px;
}

.projects-title h2{
  color: #58D68D;
  font-size: 45px;
  font-weight: 600;
  position: relative;
  padding: 5px;
}

.projects-title h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 80px;
  background-color: #58D68D;
}

.projects-title span{
  color: #ffffff;
  font-size: 18px;
  font-weight: 700;
}

.projects-title p{
  color: #000000;
  font-weight: 600;
  line-height: 35px;
}


.projects-box-items{
  display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px, auto));
	grid-gap: 2rem;
	align-items: center;
  position: relative;
}

.projects-box{
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.projects-box img{
  width: 100%;
}


.projects-box-leyar{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10px;
  display: flex;
  border-radius: 5px;
  justify-self: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-image: linear-gradient(to bottom, rgba(255,0,0,0), #58D68D);
  transform: translateY(100%);
  transition: 0.4s;
}

.projects-box-leyar h2{
  color: #ffffff;
  font-weight: 600;
  text-align: center;
}

.projects-box-leyar p{
  color: #ffffff;
  margin-top: 10px;
  line-height: 35px;
}

.projects-box-leyar a{
  color: #000000;
    width: 35px;
    height: 35px;
    margin: 10px;
    border-radius: 50%;
    display: inline-block;
    font-size: 20px;
    padding: 5px;
    text-align: center;
    position: relative;
  background-color: #ffffff;
}


.projects-box:hover .projects-box-leyar{
  transform: translateY(0%);
}







#services{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  padding: 20px 5%;
  background-color: #ffffff;
  overflow: hidden;
}

.servics-text-title h2{
  color: #58D68D;
  font-size: 45px;
  font-weight: 700;
  position: relative;
}

.servics-text-title h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 80px;
  background-color: #58D68D;
}

.servics-text-title p{
  font-weight: 600;
  color: #000000;
  padding: 10px 0 30px 0;
  line-height: 35px;
}


.items{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(230px, auto));
	grid-gap: 2rem;
	align-items: center;
  position: relative;
}
.sub-box{
  width: 95%;
  height: 280px;
  margin: 0 auto;
  padding: 25px 20px 15px 20px;
  transition: ease .50s;
	cursor: pointer;
  background-color: #ffffff;
  translate: 0;
  box-shadow: 0 0 20px 0px #616A6B;
}


.sub-icon{
	max-width: 100%;
	width: 60px;
	height: 60px;
  margin-bottom: 5px;
  font-size: 22px;
  padding: 15px;
  border-radius: 50%;
  text-align: center;
  background-color: #58D68D;
}

.sub-box:hover .sub-icon{
  color: #ffffff;
  width: 60px;
  height: 60px;
  padding: 15px;
  border-radius: 50%;
  border: 2px solid #58D68D;
  background: transparent;
}

.sub-box a{
  color: #58D68D;
  font-size: 15px;
  font-weight: 500;
  transition: 0.4s;
}

.sub-box a:hover{
  color: #ffffff;
}

.sub-box p{
	font-size: 15px;
	color: #000000;
	line-height: 29px;
}
.sub-box:hover{
	background: #000000;
	box-shadow: 18px 0px 87px 0px rgb(10 15 70 / 7%);
	border-radius: 12px;
	will-change: transform;

}

.sub-box:hover p{
  color: #ffffff;
}


.testimonials{
  width: 100%;
  height: 100%;
  padding-bottom: 60px;
}

.testimonials-title {
  padding-top: 20px;
  margin-bottom: 10px;
}

.testimonials-title h2{
  font-size: 45px;
  color: #58D68D;
  font-weight: 600;
  position: relative;
}

.testimonials-title h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 80px;
  background-color: #58D68D;
}

.testimonials-title p{
  font-size: 16px;
  color: #000000;
  font-weight: 600;  
  margin-top: 15px;
  line-height: 35px;
}


.swiper-container {
  padding: 10px 16%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }


.swiper-container .swiper-wrapper{
  width: 90%;
  height: auto;
}

.swiper-slide{
  background-color: #58D68D;
}

.swiper-text{
  padding: 10px;
}

.swiper-text p{
  color: #ffffff;
  font-size: 17px;
  font-weight: 500;
  font-style: italic;
  line-height: 35px;
}

.swiper-text i{
  color: #616A6B;
}

.swiper-img{
  text-align: center;
  margin-top: 10px;
}

.swiper-img img{
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
}


.btn-siwper {
  position: relative;
  bottom: -35px !important;
}


#contact{
  width: 100%;
  min-height: 100vh;
  height: 100% !important;
  padding: 20px 5%;
  background-color: #616A6B;
}

.contact-title h2{
  font-size: 45px;
  color: #58D68D;
  font-weight: 600;
  position: relative;
}

.contact-title h2::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 80px;
  background-color: #58D68D;
}

.contact-title p{
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  margin-top: 20px;
  padding-bottom: 20px;
  line-height: 35px;
}

.contact-text{
  padding: 40px 0px 0px 10px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem;
}

.contact-address{
  padding: 20px;
  border-radius: 5px;
  background-color: #ffffff;
}

.contact-address ul li{
  position: relative;
  font-size: 16px;
  padding: 10px;
  color: #000000;
  font-weight: 600;
  display: inline-flex;
}

.contact-address i{
  color: #58D68D;
  font-size: 25px;
  padding-right: 10px;
}

.map iframe{
  max-width: 100%;
  width: 100%;
}

.contact-form{
  padding: 20px;
  background-color: #000000;
  border-radius: 5px;
}

.input{
  display: grid;
}
.massage,
.input label{
  color: #ffffff;
  font-weight: 600;
  font-size: 17px;
  margin-top: 5px;
  display: inline;
  margin-bottom: 5px;
}

.input input{
  width: 100%;
  padding: 10px;
  border: none;
}
.massage textarea,
.input input:focus{
  outline: none;
}

.massage textarea{
  width: 100%;
  height: 100px;
  padding: 10px;
}

.contact-form button{
  padding: 8px;
  background: #58D68D;
  border: none;
  width: 100%;
  cursor: pointer;
  transition: 0.4s;
}

.contact-form button:hover{
  border-radius: 5px;
  background-color: #616A6B;
}

footer{
  text-align: center;
  padding: 8px;
  background-color: #ffffff;
}

footer p{
  color: #616A6B;
  font-size: 14px;
  font-weight: 400;
}

footer p span{
  color: #58D68D;
}



